@tailwind base;
@tailwind components;
@tailwind utilities;

/* Koyu mod geçişleri yumuşak olsun */
* {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

/* Chrome, Safari ve Opera için kaydırma çubuğunu gizle */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* IE, Edge ve Firefox için kaydırma çubuğunu gizle */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE ve Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Çevrimdışı ikonu yanıp sönme animasyonu */
@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: .5; }
}
.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}